/* PERSONAL CONFIG */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.flexGrow {
  flex-grow: 1;
}
.mainContainer {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: left;
}
.mainText {
  text-align: 'left';
  margin-bottom: 20px;
}

body {
  margin: 0px;
}

mark {
  cursor: pointer;
}

pre {
  border: 2px solid grey;
  padding: 1em;
}
code {
  font-family: monospace, monospace;
  font-size: 11px;
  border-radius: 10px;
  padding: 3px;
}
pre, code {
  font-family: monospace, monospace;
  border-radius: 6px;
  color: #adbac7;
  background: #22272e;
  /* padding: 5px; */
  /* background-color: #78909c; */
}

a {
  color: #006bb4;
  text-decoration: none;
}
a:hover {
  color: #64b5f6;
  text-decoration: none;
}

.paper {
  padding: 16px;
  /* margin: 16px 0px; */
}
.paperPadding {
  padding: 16px;
  margin: 16px;
}
.searchPaper {
  padding: 8px;
  display: 'flex';
  align-items: 'center';
  width: 35ch;
}

.button {
  text-transform: none;
  /* margin: 16px; */
}
.linkButton {
  text-transform: none;
  text-decoration: none;
  color: #fff;
}
.MuiButton-root.MuiButton-contained {
  text-transform: none;
}
.loginButton {
  text-transform: none;
  text-decoration: none;
  padding: 0px;
  border: 0;
  background-color: 'inherit';
  color: 'inherit';
  border-radius: 8px;
}

.input {
  background: #fff;
  font-size: "11px";
  /* font-family: "monospace"; */
}

/* CSS used by the official lib to display Nanopubs */
.nanopub { margin: 0 0 30px 0; padding: 0px 10px 10px 10px; border-radius: 10px; border: solid; border-width: 1px; }
.nanopub-prefixes { margin-top: 10px; }
.nanopub-head { background: #e8e8e8; padding: 10px; margin-top: 10px; border-radius: 10px; }
.nanopub-assertion { background: #99ccff; padding: 10px; margin-top: 10px; border-radius: 10px; }
.nanopub-provenance { background: #f3a08c; padding: 10px; margin-top: 10px; border-radius: 10px; }
.nanopub-pubinfo { background: #ffff66; padding: 10px; margin-top: 10px; border-radius: 10px; }


/* @import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"); */
/* Bootstrap imported for rjsf default (mui bug) */
/* CSS for React JSON schema form (rjsf), it bugs and use the root id for some styling */
fieldset#root {
  display: inline-block;
}
.ms-Grid-col.ms-sm12.field.field-object {
  /* margin-left: 16px; */
  margin-bottom: 32px !important;
  border-bottom: 1px solid grey;
}
