.vscode
.mypy_cache
docker-stack.yml

.expo
node_modules

.yarn/
.pnp*.[cm]js
.yarnrc.yml
pnpm-lock.yaml

.env
data
.venv

__pycache__
.pytest_cache
*.egg-info
.mypy_cache
.coverage
htmlcov


pySHACL/
ontogpt/