pySHACL/
ontogpt/

.env
.env.production
data

.DS_Store
.vscode
docker-stack.yml

# Backend
.venv
__pycache__
.pytest_cache
*.egg-info
.mypy_cache
.coverage
htmlcov


# Frontend
node_modules
.yarn/
.astro/
.expo
.pnp*.[cm]js
.yarnrc.yml
pnpm-lock.yaml
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
