<footer>
  <p>
    This website is licensed under the&nbsp;
    <a target="_blank" href="https://github.com/MaastrichtU-IDS/knowledge-collaboratory/blob/main/LICENSE">
      MIT license
    </a>
  </p>
  <p>
    {'Copyright © '}
    <a target="_blank" href="https://maastrichtuniversity.nl/ids">
      Institute of Data Science at Maastricht University
    </a>
    {' 2020.'}
  </p>
</footer>

<style>
  footer {
    text-align: center;
    padding: 16px;
    margin-top: auto;
    color: 'white';
    background-color: var(--color-primary);
  }
  p {
    color: var(--color-primary-light);
  }
  a {
    color: var(--color-primary-darker);
    opacity: 0.6;
  }
  a:hover {
    color: var(--color-primary-dark);
    text-decoration: none;
  }
</style>
