@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* https://mui.com/guides/migration-v4/ */

.flexGrow {
  flex-grow: 1; 
}

.mainContainer {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: left;
}

pre {
  border: 2px solid grey;
  padding: 1em;
  /* background: #22272e; */
}

code {
  font-family: monospace, monospace;
  font-size: 11px;
  border-radius: 10px;
  padding: 3px;
  /* color: white; */
  /* background-color: #757575; */
  /* background-color: #78909c; */
}

pre, code {
  font-family: monospace, monospace;
  border-radius: 6px;
  /* padding: 2px; */
  color: #adbac7;
  background: #22272e;
  /* padding: 0.5em; */
  /* padding: 5px; */
  /* color: white;
  background-color: #757575; */
  /* background-color: #78909c; */
}

.paper {
  padding: 16px;
  /* margin: 16px 0px; */
}

a {
  color: #006bb4;
  text-decoration: 'none';
  /* &:hover {
    color: #64b5f6;
    text-decoration: 'none';
  } */
}

.MuiButton-root.MuiButton-contained {
  text-transform: none;
}

/* Display Nanopubs */
.nanopub { margin: 0 0 30px 0; padding: 0px 10px 10px 10px; border-radius: 10px; border: solid; border-width: 1px; }
.nanopub-prefixes { margin-top: 10px; }
.nanopub-head { background: #e8e8e8; padding: 10px; margin-top: 10px; border-radius: 10px; }
.nanopub-assertion { background: #99ccff; padding: 10px; margin-top: 10px; border-radius: 10px; }
.nanopub-provenance { background: #f3a08c; padding: 10px; margin-top: 10px; border-radius: 10px; }
.nanopub-pubinfo { background: #ffff66; padding: 10px; margin-top: 10px; border-radius: 10px; }

/* a:hover {
  color: #ff7043;
  text-decoration: none
} */

/* @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
  margin: 0;
  padding: 0;
  text-align: center; } */
