.flexGrow {
  flex-grow: 1;
}
.mainView {
  min-height: 100vh;
  height: 100%;
  background-color: #eceff1;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
}
.mainContainer {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: left;
}
.mainText {
  text-align: 'left';
  margin-bottom: 20px;
}

body {
  margin: 0px;
}

mark {
  cursor: pointer;
}

pre {
  border: 2px solid grey;
  padding: 1em;
}
code {
  font-family: monospace, monospace;
  font-size: 11px;
  border-radius: 10px;
  padding: 3px;
}
pre, code {
  font-family: monospace, monospace;
  border-radius: 6px;
  color: #adbac7;
  background: #22272e;
}

a {
  color: #006bb4;
  text-decoration: none;
}
a:hover {
  color: #64b5f6;
  text-decoration: none;
}
