---
import './globals.css';
// import React, { useReducer } from "react";
import { createTheme, ThemeProvider } from '@mui/material/styles';

import NavBar from "./NavBar";
import Footer from "./Footer";
// import UserContext from "../utils/UserContext";

const theme = createTheme({
  palette: {
    primary: { light: '#6ec6ff', main: '#2196f3', dark: '#0069c0' }, // blue
    secondary: { light: '#76d275', main: '#43a047', dark: '#00701a' }, // green
    // default: { light: '#fafafa', main: '#eceff1', dark: grey[600] }
    // success: { light: '#ffe0b2', main: '#a5d6a7', dark: '#00600f' }, // green
    // info: { light: '#b3e5fc', main: '#81d4fa', dark: '#00600f' }, // blue
    // warning: { light: '#c8e6c9', main: '#ffcc80', dark: '#00600f' }, // orange
    // error: { light: '#ffcdd2', main: '#ef9a9a', dark: '#e57373' }, // red
  },
  typography: {
    "fontFamily": "\"Open Sans\", \"Roboto\", \"Arial\"",
    "fontWeightLight": 300,
    "fontWeightRegular": 400,
    "fontWeightMedium": 500,
    "fontSize": 11
  },
  // spacing: 2
});

// context for User
// function reducer(state: any, item: any) {
//   return item
// }

// const [user, setUser]: any = useReducer(reducer, []);


export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /> -->

	</head>
	<body>
		<ThemeProvider client:load theme={theme}>
			<!-- <UserContext.Provider value={{ user, setUser }}> -->
			  <div class="mainView">
          <NavBar client:only />
          <slot />
          <Footer client:only />
			  </div>
			<!-- </UserContext.Provider> -->
		  </ThemeProvider>
	</body>
</html>

<style is:global>
	/* :root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	} */
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
